body{
    background-color: #0E0E0E;
    font-family: rubik;
}
.con{
    position: relative;
    top: 300px;
    margin: 0 200px 0 100px;
}
.title{
    color: #C55AF6;
    font-size: 50px;
}
.date{
    color: white;
    font-size: 22px;
    position: relative;
    left: 80%;
    bottom: 80px;
}
.content{
    color: white;
    font-size: 22px;
    line-height: 40px;
}
.writtenby{
    color: white;
    position: relative;
    top: 200px;
    font-size: 25px;
}
.skill-row{
    text-align: left;
    word-spacing: 5px;
    text-align:justify;
}
.img{
    float: left;
    margin-right: 100px;
    margin-bottom: 100px;
}