body{
    background-color: white;
    font-family: rubik;
}
.con{
    position: relative;
    top: 200px;
    margin: 0 200px 0 150px;
    
    
}
.title{
    color: #C55AF6;
    font-size: 50px;
}
.date{
    color: white;
    font-size: 22px;
    position: relative;
    left: 80%;
    bottom: 80px;
}

.skill-row{
    word-spacing: 5px;
    text-align:justify;
    position: relative;

}
.img{
    width: 500px;
    height: 500px;
    float: left;
    margin-right: 150px;
    margin-bottom: 100px; 
     
}
.content{
    color: white;
    font-size: 22px;
    line-height: 40px;
    position: relative;
}

.writtenby{
    color: white;
    position: absolute;
    bottom: 100px;
}    