
.nav-bar{
    background-color: #F7CA02;
    height: 150px;
    width: 100%;
    
}
.name{
    font-family: rubik;
    font-size: 50px;
    font-weight: 500;
    color:#0E0E0E;
}
.name-comp{
    position: relative;
    top: 45px;
    margin-left: 150px;
    width: fit-content;
}

.menu-items{
    display: inline-block;
    position: relative;
    bottom: 20px;
    left: 50%;
}
.menu-items>p{
    display: inline-block;
    font-family: rubik;
    padding: 17px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    color: #000000;
}
.search-icon{
    width: 25px;
    margin-left: 20px;}
