.nav-bar{
    background-color: #F7CA02;
    height: 150px;

}
.name{
    font-family: rubik;
    font-size: 40px;
    font-weight: 500;
    color:#0E0E0E;
}
.name-comp{
    position: relative;
    top: 50px;
    margin-left: 100px;
}

.menu-items{
    display: inline-block;
    position: relative;
    bottom: 10px;
    left: 45%;
}
p{
    display: inline-block;
    font-family: rubik;
    font-size: 20px;
    padding: 17px;
}
.search-icon{
    width: 25px;
    margin-left: 20px;
}
