.image{
    margin-left: 15px;
    margin-top: 10px;
    width:300px;
    height:300px;
}

.article-block{
    position: relative;
    width: 341px;
    height: 401px;

    background: #5095D5;

}

.article-title{
    font-family: Karla;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    
    color: #FCF7F7;
}

.articlediv-title{
    margin-left: 15px;
}

.arr{
    width: 31px;
    height: 23px;
    position: absolute;
    left: 280px;
    bottom: 10px;
}