.longarrow{
    position: absolute;
    top: 40%;
    right: 20%;
    width: 50%;
}

.social{
    position: absolute;
    width: 5%;
    height: 120%;
    right: 0%;
    top: 0%;
    background-color: #F7CA02;
}
.linked-in{
    position: absolute;
    top: 80%;
    right: 20%;
    width: 50%;
    
}
.instagram{
    position: absolute;
    width: 50%;
    top: 90%;
    right: 20%;
}
.sitting{
    position: absolute;
    top: 0%;
    left:10%;
    width: 60%;
}
.tagline{
    position: absolute;
    width: 560px;
    height: 5%;
    left: 55%;
    top: 40%;
    font-family: rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #565656;
}
.description{
    position: absolute;
    width: 500px;
    height: 3%;
    left: 55%;
    top: 60%;
    font-family: rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 40px;
    color: #857E7E;
    opacity: 0.8;
}
.body1{
    background-color: white;
}

.body1-subscribe{
    position: absolute;
    width: 12%;
    height: 7%;
    left: 18%;
    top: 90%;
    text-align: center;
    margin: auto auto;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 60px;
    color: #000000;
    text-align: center;
    background: #F7CA02;
    border-radius: 15px;

}
.body2{
    position: absolute;
    width: 100%;
    height: 120%;
    left: 0px;
    top: 140%;
    margin: 0%;
    padding: 0%;
    margin-bottom: 10%;
    background: #0E0E0E;
}
.articles{
    position: absolute;
    color: #F1F1F1;
    top: 15%;
    left: 10%;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 52px;

}
.findbutton{
    position: absolute;
    width: 10%;
    height: 7%;
    top: 80%;
    left: 10%;
    cursor: pointer;
    background: #F7CA02;
    font-family: Rubik;
    font-style: normal;
    font-weight: 800;
    font-size: 100%;
    line-height: 28px;
    color: #0B0B0B;
    border-radius: 20px;
}
.twoarticles{
    display: flex;
}
.article1{
    position: absolute;
    width: 410px;
    height: 510px;
    top: 30%;
    left: 35%;
    background:#597ECD;
}
.article2{
    position: absolute;
    width: 410px;
    height: 510px;
    top: 30%;
    left: 60%;
    background: #C85CFA;
}
.arrow{
    position: absolute;
    width: 40%;
    size: 100%;
    left: 85%;
    top: 90%;
}

.body3{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 260%;
    left: 0%;
    background-color: #0E0E0E;
    color: white;
}
.body3logo img{ 
    position: absolute;
    height: 20vh;
    top: 25%;
    left: 60%;
    width: 200px;
    height: 200px;
}
.aboutus{
    position: absolute;
    color:white;
    top: 10%;
    left: 10%;
    font-size: 350%;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 52px;
}
.aboutus-content{
    position: absolute;
    width: 500px;
    height: 146px;
    left: 10%;
    top: 30%;
    font-family: rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    color:#FAFAFA;
    opacity: 0.8;
}
.findbutton1{
    position: absolute;
    width: 10%;
    height: 9%;
    top: 60%;
    left: 10%;
    cursor: pointer;
    background: #F7CA02;
    font-family: Rubik;
    font-style: normal;
    font-weight: 800;
    font-size: 100%;
    line-height: 28px;
    color: #0B0B0B;
    border-radius: 20px;
}
.body4{
    position: absolute;
    background-color: #0E0E0E;
    width: 100%;
    height: 72%;
    top: 340%;
    left: 0%;
}
.NewspaperArchives{
    position: absolute;
    color: white;
    top: 7%;
    left: 10%;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 52px;
}
.NewspaperArchives-content{
    position: absolute;
    width: 500px;
    height: 146px;
    left: 10%;
    top: 30%;
    font-family: rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    color:#FAFAFA;
    opacity: 0.8;
}
.number01{
    position: absolute;
    width: 57px;
    height: 40px;
    left: 15%;
    top: 60%;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 40px;
    color: white;
    
}
.firstedition{
    top: 80%;
    position: absolute;
    width: 200px;
    height: 40px;
    left: 10%;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    color: #FFFFFF;
}
.body5{
    position: absolute;
    left: 0%;
    top: 410%;
    width: 100%;
    height: 120%;
    background-color: #0E0E0E;
    padding-top: 200px;
}
.Spotlight{
    position: absolute;
    color: white;
    top: 20%;
    left: 10%;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 52px;
    }
.Spotlight-content{
    position: absolute;
    width: 500px;
    height: 146px;
    left: 10%;
    top: 30%;
    font-family: rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    color:white;
    opacity: 0.8;
}
.findbutton2{
    position: absolute;
    width: 11%;
    height: 8%;
    top: 50%;
    left: 10%;
    cursor: pointer;
    background: #F7CA02;;
    font-family: Rubik;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    color: #0B0B0B;
    border-radius: 20px;
}
.body6{
    position: absolute;
    top: 520%;
    left: 0%;
    width: 100%;
    height: 80%;
    background-color: #0E0E0E;
}
.Subscribe{
    position: absolute;
    color: white;
    top: 7%;
    left: 10%;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 52px;
}
.subscribeimage{
    position: absolute;
    top: 45%;
    left: 10%;
}
.subscribe-content{
    position: absolute;
    width: 65%;
    height: 40%;
    top: 40%;
    right: 0%;
    background: #F7CA02;
    box-shadow: 0px 8px 4px rgba(23, 23, 23, 0.69);
}
.newsletter{
    position: absolute;
    left: 10%;
    top: 20%;
    font-family: Rubik;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #0F0F0F;
}
.email{
    position: absolute;
    top: 50%;
    margin-left: 10%;
    font-family: rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    color: #0F0F0F;
    opacity: 0.6;
}
.arrow2{
    position: absolute;
    left: 50%;
    top: 40%;
}
.spotlight-img{
    width: 550px;
    height: 600px;
    background-color: #0F0F0F;
    position: absolute;
    top: 10%;
    left: 50%;
}
.spotlight-img1{
    width: 234px;
    height: 287px;
    background-color: #FF007F;
    position: absolute;
    left: 20%;
    bottom: 60%;
    z-index: 1;
    box-shadow: 20px 20px 20px #0F0F0F;
}
.spotlight-img2{
    width: 215px;
    height: 264px;
    background-color: #EE82EE;
    position: absolute;
    left: 23%;
    top: 41%;
    z-index: 0;
}

.spotlight-img3{
    width: 235px;
    height: 267px;
    background-color: #98ffcc;
    position: absolute;
    top: 10%;
    left: 61.8%;
    z-index: 0;
}
.vector-18{
    width: 550px;
    height: 580px;
}
.ellipse{
    position: absolute;
    top: 67%;
    right: 13%;
}
.vector-23{
    position: absolute;
    top: 69%;
    right: 16%;
}
.eye{
    position: absolute;
    top: 81%;
    left: 25%;
}
.download{
    position: absolute;
    top: 80%;
    left: 30%;
}
.line{
    position: absolute;
    top: 61%;
    left: 25%;
}
.circle1{
    position: absolute;
    top: 62%;
    left: 25%;
}
.circle2{
    position: absolute;
    top: 62%;
    left: 35%;
}
.circle3{
    position: absolute;
    top: 62%;
    left: 45%;
}
.ellipse1{
    position: absolute;
    top: 60%;
    left: 52%;
}
.vector{
    position: absolute;
    top: 61.5%;
    left: 53%;
}