
.social{
    position: absolute;
    width: 5%;
    height: 100%;
    right: 0%;
    top: 0%;
    background-color: #F7CA02;
}
.linked-in{
    position: absolute;
    border-radius:25%;
    width: 70%;
    top: 70%;
    right: 10%;
}
.instagram{
    position: absolute;
    border-radius:25%;
    width: 50%;
    top: 80%;
    right: 20%;
}
.sitting{
    position: absolute;
    top: 0%;
    left:10%;
    width: 60%;
}
.tagline{
    position: absolute;
    width: 560px;
    height: 5%;
    left: 55%;
    top: 30%;

    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: 0.01em;
    color: #565656;
}
.description{
    position: absolute;
    width: 500px;
    height: 3%;
    left: 55%;
    top: 50%;

    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 40px;
    color: #857E7E;
    opacity: 0.8;
}
.body1subscribe{
    position: absolute;
    width: 12%;
    height: 7%;
    left: 20%;
    top: 85%;
    text-align: center;
    margin: auto auto;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
    text-align: center
;
    background: #F7CA02;
    border-radius: 15px;

}
.body2{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 100%;
    margin: 0%;
    padding: 0%;
    margin-bottom: 10%;
    background: #0E0E0E;
}
.articles{
    position: absolute;
    color: #F1F1F1;
    top: 7%;
    left: 5%;
    font-size: 350%;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;

}
.findbutton{
    position: absolute;
    width: 10%;
    height: 7%;
    font: bold;
    top: 70%;
    left: 5%;
    cursor: pointer;
    background: #F7CA02;;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 100%;
    line-height: 28px;
    color: #0B0B0B;
    position:relative;
}
.twoarticles{
    display: flex;
    
}
.article1{
    position: absolute;
    width: 357px;
    height: 392px;
    top: 30%;
    left: 30%;
    background:#597ECD;
}
.article2{
    position: absolute;
    width: 357px;
    height: 392px;
    top: 30%;
    left: 60%;
    background: #597ECD;
}
.arrow{
    position: absolute;
    width: 40%;
    size: 1000%;
    left: 85%;
    top: 90%;
}
.body3{
    position: absolute;
    width: 100%;
    height: 80%;
    top: 200%;
    left: 0%;
    background-color: #0E0E0E;
    color: white;
}
.body3logo img{ 
    position: absolute;
    height: 20vh;
    top: 30%;
    left: 60%;
    width: 171px;
    height: 171px;
    left: 891px;
}
.aboutus{
    position: absolute;
    color: #F1F1F1;
    top: 7%;
    left: 5%;
    font-size: 350%;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
}
.aboutus-content{
    position: absolute;
    width: 400px;
    height: 146px;
    left: 5%;
    top: 30%;

    font-family: Karla;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    /* or 222% */


    color:#FAFAFA;

    opacity: 0.8;
}
.findbutton1{
    position: absolute;
    width: 10%;
    height: 9%;
    font: bold;
    top: 70%;
    left: 5%;
    cursor: pointer;
    background: #F7CA02;;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 100%;
    line-height: 28px;
    color: #0B0B0B;
    position:relative;
}
.body4{
    position: absolute;
    background-color: #0E0E0E;
    width: 100%;
    height: 72%;
    top: 280%;
    left: 0%;
}
.NewspaperArchives{
    position: absolute;
    color: #F1F1F1;
    top: 7%;
    left: 5%;
    font-size: 350%;
    font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 44px;
line-height: 52px;

color: #FFFFFF;

}
.NewspaperArchives-content{
    position: absolute;
    width: 400px;
    height: 146px;
    left: 5%;
    top: 30%;

    font-family: Karla;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    /* or 222% */


    color:#FAFAFA;

    opacity: 0.8;
}
.number01{
    position: absolute;
    width: 57px;
    height: 40px;
    left: 147px;
    top: 60%;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 40px;
    color: #FFFFFF;
}
.firstedition{
    top: 75%;
    position: absolute;
    width: 200px;
    height: 40px;
    left: 5%;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    color: #FFFFFF;
}
.body5{
    position: absolute;
    left: 0%;
    top: 350%;
    width: 100%;
    height: 80%;
    background-color: #0E0E0E;
}
.Spotlight{
    position: absolute;
    color: #F1F1F1;
    top: 9%;
    left: 5%;
    font-size: 350%;
    font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 44px;
line-height: 52px;

color: #FFFFFF;
}
.Spotlight-content{
    position: absolute;
    width: 400px;
    height: 146px;
    left: 5%;
    top: 30%;

    font-family: Karla;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    /* or 222% */


    color:#FAFAFA;

    opacity: 0.8;
}
.findbutton2{
    position: absolute;
    width: 10%;
    height: 9%;
    font: bold;
    top: 60%;
    left: 5%;
    cursor: pointer;
    background: #F7CA02;;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 100%;
    line-height: 28px;
    color: #0B0B0B;
    position:relative;
}
.body6{
    position: absolute;
    top: 430%;
    left: 0%;
    width: 100%;
    height: 80%;
    background-color:  #0E0E0E;
}
.Subscribe{
    position: absolute;
    color: #F1F1F1;
    top: 7%;
    left: 5%;
    font-size: 350%;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    color: #FFFFFF;
}
.subscribeimage{
    position: absolute;
    top: 55%;
    left: 5%;
}
.subscribe-content{
    position: absolute;
    width: 70%;
    height: 40%;
    top: 50%;
    right: 0%;
    background: #F7CA02;
    box-shadow: 0px 8px 4px rgba(23, 23, 23, 0.69);
}
.newsletter{
    position: absolute;
    left: 10%;
    top: 10%;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #0F0F0F;

}
.email{
    position: relative;
    top: 40%;
    margin-left: 10%;
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    color: #0F0F0F;
    opacity: 0.6;
}