.footer{
    width: 100%;
    height: 65%;
    margin-top: 50px;
    position: relative;
    margin-bottom: 50px;
    bottom: 0px;
}


.soc-p-art{
    
    position: relative;
    top: 6vh;
    left: 15vw;
    font-family: rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    color: #FFFFF7;
    width: fit-content;
}
.linkdin-ic{
    position: absolute;
    top: 22vh;
    left: 16vw;
    width: 30px;
    height: 30px;
}
.insta-ic{
    position: absolute;
    top: 22.8vh;
    left: 21vw;
    width: 27px;
    height: 25px;    
}

.footer-nav{
    color: white;
    position: absolute;
    left: 60vw;
    top: 6vh;
}

.footer-nav>h3{
    font-family: rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    margin-left: 20px;
    color: #FFFFF7;
}

.footNav-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footNav-content>p{
    margin: 20px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;
    color: #FFFFF7;
}

.copyright{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFF7;
    position: absolute;
    top: 60vh;
    left: 10vw;
}
