
.Founder{
    position: absolute;
    top: 30%;
    left: 40%;
    background-color: #F7CA02;
}




.lines{
    position: absolute;
    top: 35%;
    margin-left: 29%;
    position: absolute;
    width: 726px;
    height: 245.15px;
}

.name{
    color: #E8E833;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
}

.Foundertext{
    
    color: #FFFFFF;
}

/* css of separate about us pages */
.Managingdirectorbody{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0E0E0E;
}
.Managingdirectorpic{
    position: absolute;
    top: 20%;
    left: 10%;
}
.Presidentbody{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0E0E0E;
}
.Presidentpic{
    position: absolute;
    top: 20%;
    left: 10%;
}
.Founderbody{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0E0E0E;
}
.Founderpic{
    position: absolute;
    background-color: #F7CA02;
    top: 20%;
    left: 10%;
}
.Creativedirectorbody{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0E0E0E;
}
.Creativedirectorpic,.Founderpic,.managingdirectorpic,.Presidentpic{
    position: absolute;
    top: 20%;
    left: 11%;
    width: 300px;
}
.teammembersname{
    position: absolute;
    width: 40%;
    left: 32%;
    top: 20%;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: #E8E833;
}

.foundername,.managingdirectorname,.presidentname,.creativedirectorname{
    position: absolute;
    width: 40%;
    left: 32%;
    top: 27%;
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    color: #FFFFFF;
}
.creativedirectordescription,.founderdescription,.presidentdescription,.managingdirectordescription{
    position: absolute;
    width: 50%;
    left: 32%;
    top: 36%;
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 40px;
    text-align: justify;
    color: #CCCCCC;
}
.Cross{
    position: absolute;
    width: 34px;
    left: 80%;
    top: 20%;
    
}
.footer-3{
    /* width: 100vw;
    height: 60vh;*/
    background: #0E0E0E;
    position: absolute;
    top: 100%;
    /*left: 0%;
    bottom: 0%; */
    width: 100%;
    height: 65%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.soc-p{
    
    position: relative;
    top: 10vh;
    left: 15vw;
    font-family: rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    color: #FFFFF7;
    width: fit-content;
}
.linkdin-ic{
    position: absolute;
    top: 22vh;
    left: 16vw;
    width: 30px;
    height: 30px;
}
.insta-ic{
    position: absolute;
    top: 22.8vh;
    left: 21vw;
    width: 27px;
    height: 25px;    
}

.footer-nav{
    color: white;
    position: absolute;
    left: 60vw;
    top: 6vh;
}

.footer-nav>h3{
    font-family: rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    margin-left: 20px;
    color: #FFFFF7;
}

.footNav-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footNav-content>p{
    margin: 20px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 15px;

    color: #FFFFF7;
}

.copyright{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFF7;
    position: absolute;
    top: 60vh;
    left: 10vw;
}
@media screen and (max-width: 1028px)  {
    .Founderbody{
        position: absolute;
        width: 100%;
        height: 200%;
        background-color: #0E0E0E;
    }
    
    .Cross{
        position: absolute;
        top: 10%;
    }
    .teammembersname{
        position: absolute;
        width: 80%;
        left: 10%;
        top: 30%;
    }
    .foundername,.managingdirectorname,.presidentname,.creativedirectorname{
        position: absolute;
        width: 80%;
        left: 10%;
        top: 33%;
    }
    .creativedirectordescription,.founderdescription,.presidentdescription,.managingdirectordescription{
        position: absolute;
        width: 80%;
        left: 10%;
        top: 36%;
        
    }
    .footer-3{
        background: #0E0E0E;
        position: absolute;
        top: 190%;
        width: 100%;
        height: 65%;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .soc-p1{
        position: absolute;
        top: 20%;
        left: 20%;
        font-family: rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 30px;
        color: #FFFFF7;
        width: fit-content;
    }
    .linkdin-ic1{
        position: absolute;
        top: 30%;
        left: 20%;
        width: 30px;
        height: 30px;
    }
    .insta-ic1{
        position: absolute;
        top: 31%;
        left: 30%;
        width: 27px;
        height: 25px;    
    }
    
    .footer-nav1{
        color: white;
        position: absolute;
        left: 60%;
        top: 20%;
    }
    .Presidentbody{
        position: absolute;
        width: 100%;
        height: 200%;
        background-color: #0E0E0E;
    }
    
    .Creativedirectorbody{
        position: absolute;
        width: 100%;
        height: 200%;
        background-color: #0E0E0E;
    }
    .Creativedirectorpic,.Founderpic,.Presidentpic{
        width: 50%;
        height: 19%;
        position: absolute;
        top: 10%;
        left: 10%;
    }
    .Managingdirectorbody{
        position: absolute;
        width: 100%;
        height: 250%;
        background-color: #0E0E0E;
    }
    .managingdirectorpic{
        width: 50%;
        height: 15%;
        position: absolute;
        top: 8%;
        left: 10%;
    }
}