.footer{
    /* width: 100vw;
    height: 60vh;
     */background: #0E0E0E;
    position: absolute;
    width: 100vw;
    height: 466px;
    left: 0px;
    /* top: 3016px; */
}

.soc-div{
    position:absolute;

    width: 84px;
    height: 26px;
}
.soc-p{
    
    position: absolute;
    top: 10vh;
    left: 20vw;
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    color: #FFFFF7;
}
.linkdin-ic{
    position: absolute;
    top: 24vh;
    left: 20vw;
    width: 30px;
    height: 30px;
}
.insta-ic{
    position: absolute;
    top: 25vh;
    left: 24vw;
    width: 27px;
    height: 25px;    
}

.footer-nav{
    color: white;
    position: absolute;
    left: 70vw;
    top: 6vh;
}

.footer-nav>h3{
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;

    color: #FFFFF7;
}

.footNav-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footNav-content>p{
    margin: 5px 5px 5px 5px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFF7;
}

.copyright{
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFF7;
    position: absolute;
    top: 60vh;
    left: 10vw;
}