.placementsbody{
    position: absolute;
    background-color: #0E0E0E;
    width: 100%;
    height: 200%;
}
.placements{
    position: absolute;
    color: #F1F1F1;
    top: 7%;
    left: 10%;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 52px;
}
.year{
    position: absolute;
    color: #F1F1F1;
    text-decoration: underline;
    top: 7%;
    right: 10%;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 52px;
}
.year:after{
    content: "\25BD";
    color: #F1F1F1;
    float: right;
    padding-left: 20px;
}
.sec1{
    position:absolute;
    background-color: white;
    width: 80%;
    height: 20%;
    top: 15%;
    left: 10%;
}
.Capgemini{
    position: relative;
    width: 16%;
    left: 0%;
}
.Lti{
    position: relative;
    width: 16%;
    left: 5%;
}
.Accenture{
    position: relative;
    width: 16%;
    left: 10%;
}
.Cognizant{
    position: relative;
    width: 16%;
    left: 15%;
}
,
.TechMahindra{
    position: relative;
    width: 16%;
    margin-left: 42%;
}
.Infosys{
    position: relative;
    width: 16%;
    left: 20%;
}
.sec2{
    position:absolute;
    background-color: white;
    width: 80%;
    height: 20%;
    top: 40%;
    left: 10%;
}
.sec3{
    position:absolute;
    background-color: white;
    width: 80%;
    height: 20%;
    top: 65%;
    left: 10%;
}
